.read-post-container{
    display: flex;
    justify-content: space-around;
}

.read-post-image img{
    /* width: 323px; */
    height: 430px;
    margin: 40px 70px;
}

.post-detail{
    margin-right:40px ;
}
.price{
    font-size: 20px;
    margin: 120px 0;
}

.oldprice{
    margin: 0 10px 0 20px ;
    color: rgb(129, 123, 123);
}
.description{
    margin-bottom: 30px;
}

.offer{
    color: rgb(14, 180, 180);
    font-size: 20px;
}
.date{
    margin-top: 30px;
}

.content{
    font-size: 18px;
    margin-top: 30px;
    text-size-adjust: 20px;
}

.back{
    text-decoration: none;
    color: rgb(232, 153, 167);
    font-size: 30px;
    margin: 10px 10px;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .post-detail{
        margin: 0 10px;
    }

    .read-post-container{
        flex-wrap: wrap;
    }

    .read-post-image img{
        width: 100%;
        height: none;
        margin: 0px 0px;
    }
}